<a href="https://colab.research.google.com/github/IEXE-Tec/analisis-descriptivo/blob/master/04_estadisticos_basicos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importo las librerias que usare en este notebook
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import seaborn as sns
sns.set()

A lo largo de estos ejercicios utilizaremos la base de datos "penguins" que nos otorga nuestra libreria seaborn. 

La base contiene observaciones sobre el tamano de las aletas, y picos de varias especies de Pinguinos. Cada observacion corresponde a un pinguino en particular.

Las variables son:  
  a) **species**:= el tipo de especie a la que pertence el pinguino  
  b) **island**:= la isla que habita  
  c) **culmen_length_mm**:= longitud de su pico en milimetros  
  d) **culmen_depth_mm**:= ancho de su pico en milimetros  
  e) **flipper_length_mm**:= longitud de su pico en milimetros  
  f) **body_mass_g**:= peso en gramos  
  g) **sex**:= sexo del pinguino  

  Fuente: https://github.com/allisonhorst/palmerpenguins

In [ ]:
penguins = sns.load_dataset('penguins')
print(' Variables o columnas: ')
print(penguins.columns)
print('Types')
print(penguins.info())
penguins.head(5)

 Variables o columnas:
Index(['species', 'island', 'culmen_length_mm', 'culmen_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')
Types
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None

  species     island  culmen_length_mm  ...  flipper_length_mm  body_mass_g     sex
0  Adelie  Torgersen              39.1  ...              181.0       3750.0    MALE
1  Adelie  Torgersen              39.5  ...              186.0       3800.0  FEMALE
2  Adelie  Torgersen              40.3  ...              195.0       3250.0  FEMALE
3  Adelie  Torgersen               NaN  ...                NaN          NaN     NaN
4  Adelie  Torgersen              36.7  ...              193.0       3450.0  FEMALE

[5 rows x 7 columns]

# Medidas de Tendencia central, y estadisticos basicos

Nos ayudan a responder si alguna observación tiene un valor alto o bajo respecto a otras observaciones, para alguna variable en particular.

### El metodo .describe() nos ayuda a obtener las medidas de tendencia central (y mas) de las variables. Recuerda que algunas medidas solo pueden ser calculadas cuando el tipo de dato en la columna o variable esta expresado en numero. En nuestro ejemplo seria imposible obtener la media de "species" o "sex" pues es un "string". Si quisieramos obtener medidas de tendencia central sobre estros valores tendriamos que codificarlos de manera que sean numeros.  

Si tines dudas sobre el metodo te invito a revisar la documentacion: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html

In [ ]:
# Describe sin codificacion
penguins.describe()

       culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
count        342.000000       342.000000         342.000000   342.000000
mean          43.921930        17.151170         200.915205  4201.754386
std            5.459584         1.974793          14.061714   801.954536
min           32.100000        13.100000         172.000000  2700.000000
25%           39.225000        15.600000         190.000000  3550.000000
50%           44.450000        17.300000         197.000000  4050.000000
75%           48.500000        18.700000         213.000000  4750.000000
max           59.600000        21.500000         231.000000  6300.000000

### Repaso de codificacion

In [ ]:
# Creamos una funcion auxiliar para revisar los datos y elegir una codificacion
def print_uniqueness(data=pd.DataFrame(), x = None):
  '''
  This function prints the unique values of the column specified in x
  for the data, and the number of unique values.
  data:= [pandas data frame], data
  x:= [string] column of the data to analize
  '''
  v = data[x].unique()
  print('Unique values of', x, ':')
  print(v)
  print('Number of unique values: ', len(v))
  print('%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%')
  print()
  return 0

In [ ]:
# Iteramos sobre las variables categoricas
for c in ['species', 'island', 'sex']:
  print_uniqueness(penguins, c)

Unique values of species :
['Adelie' 'Chinstrap' 'Gentoo']
Number of unique values:  3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Unique values of island :
['Torgersen' 'Biscoe' 'Dream']
Number of unique values:  3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Unique values of sex :
['MALE' 'FEMALE' nan]
Number of unique values:  3
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Para codificar te recomiendo usar el metodo .replace() de pandas. Se crea un diccionario, donde cada llave representa una columna a codificar. A su vez cada llave apunta a otro diccionarion donde cada llave representa un valor posible de la variable y apunta a su viena codificacion.

Documentacion: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html

In [ ]:
# Codifiquemos
penguins_cod = {
    'species':{'Adelie':1, 'Chinstrap':2, 'Gentoo':3},
    'island':{'Torgersen':1, 'Biscoe':2, 'Dream':3},
    'sex':{'MALE':1, 'FEMALE':0, np.nan:2}
}
penguins.replace(penguins_cod)

     species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g  sex
0          1       1              39.1  ...              181.0       3750.0    1
1          1       1              39.5  ...              186.0       3800.0    0
2          1       1              40.3  ...              195.0       3250.0    0
3          1       1               NaN  ...                NaN          NaN    2
4          1       1              36.7  ...              193.0       3450.0    0
..       ...     ...               ...  ...                ...          ...  ...
339        3       2               NaN  ...                NaN          NaN    2
340        3       2              46.8  ...              215.0       4850.0    0
341        3       2              50.4  ...              222.0       5750.0    1
342        3       2              45.2  ...              212.0       5200.0    0
343        3       2              49.9  ...              213.0       5400.0    1

[344 rows x 7 columns]

## Tarea:  
A) Piensa que tipo de dato es cada variable\columna?    
B) Que estadisticos no son de utilidad en cada caso?

In [ ]:
penguins.replace(penguins_cod).describe()

          species      island  ...  body_mass_g         sex
count  344.000000  344.000000  ...   342.000000  344.000000
mean     1.918605    2.209302  ...  4201.754386    0.552326
std      0.893320    0.684970  ...   801.954536    0.558680
min      1.000000    1.000000  ...  2700.000000    0.000000
25%      1.000000    2.000000  ...  3550.000000    0.000000
50%      2.000000    2.000000  ...  4050.000000    1.000000
75%      3.000000    3.000000  ...  4750.000000    1.000000
max      3.000000    3.000000  ...  6300.000000    2.000000

[8 rows x 7 columns]

Por ahora preferimos mantener las variables sin codificar, sin embargo es bueno tener presente que podemos hacerlo en cualquier momento.

## Media


El metodo .mean() de pandas nos permite visualizar las medias de cada columna.

In [ ]:
# El metodo .mean() de numpy nos permite calcular la media
x1 = [1, 1, 1 ,1]
x2 = [1, 1, 1, 15]
x3 = [1 , 15, 15, 15]
x4 = [3, 6, 6, 6]
print("Numpy mean")
print(x1, " , media:" ,np.array(x1).mean())
print(x2, " , media:" ,np.array(x2).mean())

print()
# El metodo .mean() de pandas nos permite calcular la media
df = pd.DataFrame.from_dict({
    "x1":x1, "x2":x2, "x3":x3, "x4":x4
})
print( "Pandas mean")
df.mean()

Numpy mean
[1, 1, 1, 1]  , media: 1.0
[1, 1, 1, 15]  , media: 4.5

Pandas mean

x1     1.00
x2     4.50
x3    11.50
x4     5.25
dtype: float64

In [ ]:
# El metodo .mean() de pandas de pandas nos permite visualizar las medias de cada columna
penguins.mean()

culmen_length_mm       43.921930
culmen_depth_mm        17.151170
flipper_length_mm     200.915205
body_mass_g          4201.754386
dtype: float64

## Mediana

El metodo .median() nos regresa la mediana de los datos.

In [ ]:
x1 = [1, 1, 1 ,1]
x2 = [1, 1, 1, 15]
x3 = [1 , 15, 15, 15]
x4 = [3, 6, 6, 6]

print()
# El metodo .median() de pandas nos permite calcular la mediana
df = pd.DataFrame.from_dict({
    "x1":x1, "x2":x2, "x3":x3, "x4":x4
})
print( "Pandas median")
df.median()

Pandas median

x1     1.0
x2     1.0
x3    15.0
x4     6.0
dtype: float64

In [ ]:
# El me
penguins.median()

culmen_length_mm       44.45
culmen_depth_mm        17.30
flipper_length_mm     197.00
body_mass_g          4050.00
dtype: float64

## Moda

El metodo .mode() nos regresa la moda de los datos.

In [ ]:
x1 = [1, 1, 1 ,1]
x2 = [1, 1, 1, 15]
x3 = [1 , 15, 15, 15]
x4 = [3, 3, 6, 6]

print()
# El metodo .mode() de pandas nos permite calcular la moda
df = pd.DataFrame.from_dict({
    "x1":x1, "x2":x2, "x3":x3, "x4":x4
})
print( "Pandas mode")
df.mode()

Pandas median

    x1   x2    x3  x4
0  1.0  1.0  15.0   3
1  NaN  NaN   NaN   6

In [ ]:
# El metodo .mode() nos permite obtener la moda de cada variable
penguins.mode()

  species  island  culmen_length_mm  ...  flipper_length_mm  body_mass_g   sex
0  Adelie  Biscoe              41.1  ...              190.0       3800.0  MALE

[1 rows x 7 columns]

## Para pensar

Despues de analizar las medidas de tendencia central y algunos estadisticos basicos de los datos, estamos listos para responder algunas preguntas.  
A) Tenemos mas hombres o mujeres en la muestra?  
B) Cual es el peso promedio de los pinguinos?  
C) Si un un investigador regresar a las islas por nuevas observaciones y tuviese que elegir entre una bascula que soporta un peso maximo de 30kg o una de 100kg. Cual recomendarias?  
D) Si recibieras nuevos datos de la misma poblacion de pinguinos, donde la longitud propedio de los picos (culmen) es de .44. Cual seria tu opinion?

# Detente!!
Revisa el siguiente Modulo donde hablamos de los quantiles y percentiles.

# Percentiles

El metodo .quantile recibe una lista con los percentiles que desamos calcular en proporciones entre cero y uno.

Documentacion: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.quantile.html

In [ ]:
# .quantile
q = np.array(range(0, 11))/10
penguins.quantile(q)

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0.0             32.10            13.10              172.0       2700.0
0.1             36.60            14.30              185.0       3300.0
0.2             38.34            15.00              188.0       3475.0
0.3             40.20            15.93              191.0       3650.0
0.4             42.00            16.80              194.0       3800.0
0.5             44.45            17.30              197.0       4050.0
0.6             46.00            17.90              203.0       4300.0
0.7             47.37            18.50              210.0       4650.0
0.8             49.38            18.90              215.0       4950.0
0.9             50.80            19.50              220.9       5400.0
1.0             59.60            21.50              231.0       6300.0

# Varianza

El metodo de .var nos permite calcular la varianza de la muestra, mientras que .std() nos da la desviacion estandar.

In [ ]:
print("Var")
print(penguins.var())
print(" \n Standard Dev: ")
print( penguins.std())

Var
culmen_length_mm         29.807054
culmen_depth_mm           3.899808
flipper_length_mm       197.731792
body_mass_g          643131.077327
dtype: float64

 Standard Dev:
culmen_length_mm       5.459584
culmen_depth_mm        1.974793
flipper_length_mm     14.061714
body_mass_g          801.954536
dtype: float64

# Tarea

Imagina que tienes que evaluar el efecto de una droga en el tratamiento de una persona. La variable que indica si el paciente fue tratado de llama "tratamiento" y toma el valor de 0 si el paciente fue tratado y 1 en el caso contrario.

### A) Que pasa si tu variable de tratamiento tiene una varianza igual a cero?

### B) Que significa que su varianza sea casi cero?


En un contexto mas general:
### C) Que significa que la desviación estándar de una variable sea cero?
### D) Que significa que una variable tenga una desviación estándar pequeña? 
### E) Que significa que una variable tenga una desviación estándar grande?

Te facilitamos una celda para pensar en el problema, con datos generados para que juegues. Si tienes dudas revisa el codigo de arriba. Piensa que significa que la varianza muestral es cero, y que variable varia mas si la altura o el peso.

In [ ]:
# Usa esta celda para pensar en el problema cond atos generados. Si tienes dudas
# regresa al codigo.
np.random.seed(5567)
n = 100
tratamiento = [0]*n
sexo = [0, 1]
sexo = np.random.choice(sexo, n, p=[0.05, 0.95])
peso = np.random.normal(80, 25,n)
altura = np.random.normal(160,20,n)

estudio = pd.DataFrame.from_dict({
    "tratamiento":tratamiento,
    "sexo":sexo,
    "peso":peso,
    "altura":altura
})

estudio

    tratamiento  sexo        peso      altura
0             0     1   79.695626  154.169700
1             0     1  102.309439  155.029077
2             0     1   71.390102  155.976316
3             0     1  101.975765  125.039911
4             0     1  113.689573  168.841866
..          ...   ...         ...         ...
95            0     1   84.643792  191.858846
96            0     0   66.953861  167.388539
97            0     1   41.727851  186.928547
98            0     1   64.324540  153.375600
99            0     1  105.700005  166.875891

[100 rows x 4 columns]

# Para pensar:
Que estadisticos bastan para definir a los datos? Que tanta informacion se ve perdida en los estadisticos?